@font-face {
  font-family: 'JDZhengHT-Bold';
  src:
    url('https://static.360buyimg.com/bus/fonts/JDZhengHT/JDZhengHT-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JDZhengHT-Light';
  src:
    url('https://static.360buyimg.com/bus/fonts/JDZhengHT/JDZhengHT-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
